.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.image-container {
    height: 45vw;
    overflow: hidden;
    width: 90vw;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.089);
    margin: 4vh 0;
}

.image-container > img {
    width: 90%;
    object-fit: cover;
    height: fit-content;
    transform: translateY(-30%);
}
