.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.image-container {
    height: 24.3vw;
    overflow: hidden;
    width: 73vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.089);
    margin: 4vh 5vw;
}

.image-container > img {
    width: 100%;
    object-fit: cover;
    height: fit-content;
}
