html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 17vw;
    background-color: #f0f4ef;
    height: 100%;
}

.content-container {
    width: 85vw;
    height: 100%;
}

.navbar-container>ul {
    list-style: none;
    padding: 0;
    margin: 3vh 0;
    width: calc(100% - 2vw);
}

.navbar-container>ul>li {
    margin: 3vh 0;
    text-transform: uppercase;
    font-size: 3vh;
    width: 100%;
    padding: 1vh 1vw;
}

.navbar-container>ul>.selected {
    background-color: #0d1821;
}

.navbar-container>ul>.selected>a {
    color: #f0f4ef;
}

.navbar-container>ul>li:not(.selected):hover>a {
    text-decoration: underline;
}

.navbar-title {
    font-size: 4vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

form label {
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin: 0.5vh 0;
    display: inline-block;


}

input[type="text"] {
    margin: 0.5vh 0;
    width: calc(100% - 2vw);
    padding: 0.5vh 1vw;
    font-size: 2vh;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
    outline: none;
    border-radius: 3px;
}

.file-label {
    font-weight: 500;
    width: calc(100% - 2vw);
    padding: 0.5vh 1vw;
    font-size: 2vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4CDED;
    box-shadow: 0 0 5px #B4CDED;

}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button[type="submit"] {
    margin: 1vh 0;
    width: 100%;
    padding: 0.5vh 1vw;
    font-size: 2vh;
    border: 1px solid #000;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #344966;
    color: white;
}

.dt-button {
    margin: 1vh 0 !important;
    padding: 0.5vh 1vw !important;
    font-size: 2vh !important;
    border: none !important;
    outline: none !important;
    border-radius: 0px !important;
    background: none !important;
    background-color: #344966 !important;
    color: white !important;
}

/* table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(70, 77, 119, 0.178);
}

table thead tr {
    background-color: #0d1821;
    color: #f0f4ef;
}

table thead tr th {
    padding: 1vh 1vw;
    text-align: left;
}

table tbody tr:hover {
    background-color: #f0f4ef;
}

table tbody tr td {
    padding: 1vh 1vw;
} */