.btn {
    border-radius: 2px;
    padding: 1vh 1vw;
    font-size: clamp(0.6rem, 2vh, 0.9rem);
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.btn-primary {
    background-color: #344966;
    color: white;
}
.btn-danger {
    background-color: #663434;
    color: white;
}

.btn-secondary {
    background-color: #b5cded;
    color: black;
}

.btn-minimal {
    background-color: transparent;
    color: #344966;
    text-decoration: underline;
}
