{% extends 'admin.base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/index.css') }}">
{% endblock %}


{% block body %}
	<h1>INSERT STATISTICS</h1>
{% endblock %}
