{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/gallery/show.css') }}" />
{% endblock %} {% block body %}
<div class="gallery-container">
    <div class="photos-container">
        {% for photo in gallery.photos %}
        <div class="photo-container">
            <img
                src="{{ asset('imgs/' ~ gallery.name|lower|replace({' ': '_'}) ~ '/' ~ photo.path) }}"
                alt=""
            />
        </div>
        {% endfor %}
    </div>
</div>
<script></script>
{% endblock %}
