.gallery-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;
}

/* .gallery-actions > * {
    margin: 0 1vw;
} */

.image-container {
    height: 5vh;
    width: 10vw;
    overflow: hidden;
    position: relative;
}

.image-container > img {
    width: 100%;
    object-fit: cover;
}
